.card-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: left;
}
label {
    margin-top: 15px;
}
.input .select {
    padding-bottom: 5px;
    justify-content: left;
}
.field {
    margin-left: -50px;
}
.product-form {
    font-size: 30px;
}